In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#!pip install plotly
import plotly.express as px 
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import datetime as dt
from datetime import timedelta
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score,silhouette_samples
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error,r2_score, mean_absolute_error
#import statsmodels.api as sm
#from statsmodels.tsa.api import Holt,SimpleExpSmoothing,ExponentialSmoothing
#from fbprophet import Prophet
from sklearn.preprocessing import PolynomialFeatures
#from statsmodels.tsa.stattools import adfuller
#import statsmodels.api as sm
#from statsmodels.tsa.api import Holt,SimpleExpSmoothing,ExponentialSmoothing
#from fbprophet import Prophet
from sklearn.preprocessing import PolynomialFeatures
#from statsmodels.tsa.stattools import adfuller
#std=StandardScaler()

In [2]:
#reading data
df = pd.read_csv("all-states-history.csv")
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,2020-01-17,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20776,2020-01-16,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20777,2020-01-15,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20778,2020-01-14,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20779,2020-01-13,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [32]:
daily_deaths = pd.DataFrame({'Deaths': df.groupby('date')['death'].sum()})
daily_deaths
#state_conclude = (df_date.groupby(['state']).agg({'positive':sum,'deathConfirmed':sum,'hospitalized':sum,'death':sum}))
#state_conclude['death_rate'] = state_conclude['death']/state_conclude['positive']
#state_conclude

              Deaths
date
2020-01-13       0.0
2020-01-14       0.0
2020-01-15       0.0
2020-01-16       0.0
2020-01-17       0.0
...              ...
2021-03-03  508665.0
2021-03-04  510408.0
2021-03-05  512629.0
2021-03-06  514309.0
2021-03-07  515151.0

[420 rows x 1 columns]

In [26]:
state_conclude.sort_values('death_rate', ascending = False)

          positive  deathConfirmed  hospitalized      death  death_rate
state
NJ     105084623.0       4746953.0     9992229.0  5352148.0    0.050932
CT      33618419.0       1172715.0     1908439.0  1584666.0    0.047137
MA      71309732.0       3071210.0     4270426.0  3195657.0    0.044814
NY     216883639.0             0.0           0.0  8854467.0    0.040826
MI      82832274.0       2754990.0           0.0  2892062.0    0.034915
DC       6050063.0             0.0           0.0   207067.0    0.034226
PA     101072365.0             0.0        7233.0  3384139.0    0.033482
LA      61057115.0       1667839.0           0.0  1765795.0    0.028920
MP         24253.0           402.0         968.0      677.0    0.027914
RI      14950160.0             0.0     1249772.0   408127.0    0.027299
MD      52034356.0       1340190.0     5735334.0  1386198.0    0.026640
MS      38297901.0        786739.0     1810439.0   968406.0    0.025286
NH       6979193.0             0.0      238179.0   171074.0    0.024512
IL     155523687.0       3323967.0           0.0  3601219.0    0.023155
PR      11411714.0        198785.0           0.0   255184.0    0.022362
DE      10219638.0        202801.0           0.0   228375.0    0.022347
IN      76263758.0       1532804.0     5917946.0  1629501.0    0.021367
VT       1361136.0         15647.0         473.0    28218.0    0.020731
NM      20928827.0             0.0     1686316.0   431992.0    0.020641
AZ      95464371.0       1710791.0     7425807.0  1918434.0    0.020096
GA     123499113.0       1367684.0     8971046.0  2349202.0    0.019022
SC      58314269.0       1005499.0     2950489.0  1092259.0    0.018731
OH     103133347.0       1723016.0     6804779.0  1909606.0    0.018516
CO      49413695.0        748037.0     3478740.0   908462.0    0.018385
WA      42162428.0        415651.0     2798796.0   770213.0    0.018268
FL     246537443.0        390457.0    13445188.0  4471991.0    0.018139
ME       4064643.0         71626.0      207977.0    73681.0    0.018127
WV      12471865.0        182904.0           0.0   214943.0    0.017234
VA      65585628.0       1004072.0     3818763.0  1111918.0    0.016954
TX     311242452.0          3626.0           0.0  5256010.0    0.016887
IA      38856604.0             0.0        1696.0   652451.0    0.016791
AL      62062326.0        897681.0     6133645.0  1038264.0    0.016729
GU       1117389.0             0.0           0.0    18674.0    0.016712
NV      36317473.0             0.0           0.0   601874.0    0.016573
MO      60088249.0             0.0           0.0   966302.0    0.016081
AR      37622536.0        468918.0     2017857.0   601561.0    0.015989
MN      60388446.0        899916.0     3615086.0   931536.0    0.015426
CA     379100459.0             0.0           0.0  5733089.0    0.015123
OR      17532076.0             0.0     1111748.0   254171.0    0.014497
SD      14345234.0             0.0      866056.0   202061.0    0.014086
NC      95648366.0       1267867.0           0.0  1347142.0    0.014084
ND      13141421.0             0.0      505880.0   181229.0    0.013791
VI        373857.0           125.0           0.0     5100.0    0.013642
HI       3863626.0         52478.0      289663.0    52478.0    0.013583
KS      33617591.0             0.0     1221810.0   446973.0    0.013296
TN      92154114.0       1027462.0     2828580.0  1185922.0    0.012869
MT      11167518.0             0.0      503989.0   139255.0    0.012470
KY      41966662.0        487378.0     2456586.0   519333.0    0.012375
WI      76813945.0        774685.0     3595112.0   829707.0    0.010802
ID      21044768.0        193293.0      869327.0   219713.0    0.010440
OK      45753488.0             0.0     2873734.0   469890.0    0.010270
NE      25447329.0             0.0      919992.0   255624.0    0.010045
WY       5974723.0             0.0      167545.0    59935.0    0.010031
UT      42543265.0             0.0     1836254.0   221121.0    0.005198
AK       6158147.0         14454.0      157626.0    31486.0    0.005113
AS             0.0             0.0           0.0        0.0         NaN